.but{
    margin-top: 20px;
    margin-left: 60px;
    
    
}
button{
    margin-bottom: 20px;
    width: 50px;
    height: 40px;
    margin-left: 20px;
    font-size: larger;
}
input{
    height: 30px;
}
head{
    margin-left: 100px;
}
.under{
    display: flex;
    flex-direction: row;

}
.under h2{
    width: 40px;
    position: relative;
    left: 15px;
    bottom: 15px;
}